<!--
"[srcParam]="photo.url"" Aqui usamos o componente "ap-photo"
"[altParam]="photo.description">"' setamos valores para dentro do componente "ap-photo" que sera usado pelo HTML do mesmo.-->


<p class="text-center text-muted" *ngIf="!photos.length">
  Sorry, without photos.
</p>

<ol class="list-unstyled">
  <li *ngFor = "let linha of arrayLinhas" class="row">
    <div *ngFor = "let photo of linha" class="col-4">
      <ap-photo
        [srcParam]="photo.url"
        [altParam]="photo.description">
      </ap-photo>
    </div>
  </li>
</ol>
